* {
    font-family: Verdana;
}
.ccis {
    font-size: 3em;
    margin: auto;
    text-align: center;
}

.buttons {
    font-size: 3em;
    margin: 0.5em;
    padding: 10px;
    width: 10em;
}

.button-div {
    display: flex;
    flex-direction: column;
    padding: 2em;
    align-items: center;
}