<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CCIS Week Admin Dashboard</title>
    <link rel="stylesheet" href="../styles.css">
    <script type="application/javascript" src="app.js"></script>
</head>

<body>
    <h1 class="ccis">CCIS Week Admin Dashboard</h1>

    <div class="button-div">
        <button class="buttons" id="">Create Student</button>
        <button class="buttons" id="">Query Student Info</button>
        <button class="buttons" id="">Update Student Info</button>
        <button class="buttons" id="">Delete Student</button>
    </div>
    <div>
        <button class="buttons" id="" onclick="window.location.href = '../index.html';">BACK</button>
    </div>
    
</body>
</html>